.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs/_build
/references
/pyspartn_*
/pyspartn-*
src/pyspartn.egg-*
/__pycache__
/.dbeaver
/pyspartn/__pycache__
/tests/__pycache__
*.pyc
/examples/temp*.*
/examples/test*.*
/.pytest_cache/
pylint_report.txt
venv
